<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de confidențialitate</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="container">
    <h1>Politica de confidențialitate</h1>
    <br>
    <p>
        Protejarea datelor dumneavoastrp personale este foarte importantă pentru noi.
        Această politică explică ce date colectăm, cum le utilizăm și cum le protejăm.
    </p>

    <h2>1.Colectarea și utilizarea datelor</h2>
    <p>
        Putem colecta informații precum numele, adresa de e-mail și datele de utilizare pentru a îmbunătăți expriența pe site-ul nostru.
    </p>

    <h2>2.Protejarea datelor</h2>
    <p>
        Implementăm măsuri tehnice și organizaționale pentru a preveni accesul neautorizat la datele dumneavoastră personale.
    </p>

    <h2>3.Drepturile utilizatorilor</h2>
    <p>
        Aveți dreptul să solicitați accesul, modificarea sau ștergerea datelor personale pe care le deținem despre dumneavoastră.
    </p>

    <div class="button-container">
        <a href="/">
            <button class="back-button">Înapoi la pagina principală</button>
        </a>
    </div>
</div>

</body>
</html>