<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Termeni și condiții</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
     <div class="terms-container">
         <h1>Termeni și condiții</h1>
         <br>
         <p>
             Vă rugăm să citiți acești termeni și condiții înainte de a utiliza acest site. Accesând sau utilizând site-ul nostru, sunteți de acord cu termenii și condițiile de mai jos.
         </p>

         <h2>1.Utilizarea site-ului</h2>
         <p>
             Acest site este destinat informării utilizatorilor despre scorurile ESG ale companiilor. Utilizarea acestuia trebuie să fie în conformitate cu legislația în vigoare și în mod responsabil.
         </p>

         <h2>2.Drepturi de autor</h2>
         <p>
             Întregul conținut al acestui site (texte, imagini, logo-uri, design, cod sursă) este protejat de legislația privind drepturile de autor și nu poate fi utilizat fără acordul nostru scris.
         </p>

         <h2>3.Confidențialitate</h2>
         <p>
             Respectăm confidențialitatea utilizatorilor noștri. Datele colectate vor fi utilizate doar pentru scopurile menționate în <a href="/politica">Politica de confidențialitate</a>.
         </p>

         <h2>4.Limitarea răspunderii</h2>
         <p>
             Informațiile prezentate pe acest site sunt oferite în scop informativ. Nu ne asumăm răspunderea pentru eventualele erori sau omisiuni din conținut.
         </p>

         <h2>5.Modificarea termenilor</h2>
         <p>
             Ne rezervăm dreptul de a modifica acești termeni și condiții în orice moment. Orice modificare va fi publicată pe această pagină.
         </p>

         <div class="button-container">
             <a href="/">
                 <button class="back-button">Înapoi la pagina principală</button>
             </a>
         </div>
     </div>
</body>
</html>